
DocumentReader/Pods/DocumentReaderFullRFID/DocumentReaderCore.xcframework/ios-arm64/DocumentReaderCore.framework/DocumentReaderCore
DocumentReader/Pods/DocumentReaderFullRFID/DocumentReaderCore.xcframework/ios-arm64_x86_64-simulator/DocumentReaderCore.framework/DocumentReaderCore
