
DocumentReader/Pods/DocumentReaderFullRFID/DocumentReaderCore.xcframework/ios-arm64/DocumentReaderCore.framework/DocumentReaderCore
DocumentReader/Pods/DocumentReaderFullRFID/DocumentReaderCore.xcframework/ios-arm64_x86_64-simulator/DocumentReaderCore.framework/DocumentReaderCore
DocumentReader/Pods/Pods.xcodeproj/xcuserdata/sharon.xcuserdatad/xcschemes/xcschememanagement.plist
DocumentReader/DocumentReader.xcworkspace/xcuserdata/sharon.xcuserdatad/UserInterfaceState.xcuserstate
DocumentReader/DocumentReader.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
DocumentReader/Pods/Pods.xcodeproj/xcuserdata/sharon.xcuserdatad/xcschemes/xcschememanagement.plist
